<a href="/space/new" id='new_listing'><button>New Listing</button></a>
<h1>Here are the spaces</h1>

<div id="spaces" style="border-style: solid;  padding: 25px; ">
  <% @spaces.each do |space| %>
    <div id="space" style="border-style: double; padding: 5px; border-radius: 5px;">
      <div><h2><%= space.name %></h2>  <div style="text-align: right">Price per night:  £<%= space.price %></div></div>
      <div>Description:  <%= space.description %> Available dates: <%= space.start_date %> to <%= space.end_date %></div>
      <div style="text-align: right">
        <form action='view' method='post'>
          <input type="hidden" value= '<%=space.id %>' name='space_id' >
          <input type="submit" value='view space'>
        </form>
      </div>
    </div>
    <p></p>
  <% end %>
</div>
