
<h1>Here are the spaces</h1>

<div id="spaces" class="container" style=" padding: 25px; ">
    <% @spaces.each do |space| %>
    <div id="space" style="border-style: double; padding: 5px; border-radius: 5px; background-color: rgba(173,173,173,0.72);">
        <div>
            <h2><%= space.name.capitalize %></h2>
        </div>
        <div>
          <h3>
            Description:
          </h3>
          <p>
              <%= space.description %>
          </p>
          <h3>
            Available dates:
          </h3>
          <p>
              From: <%= space.start_date.strftime('%d/%m/%Y') %><br />
              To: <%= space.end_date.strftime('%d/%m/%Y') %>
          </p>
          <div style="text-align: right">
              <p>
                  Price per night: £<%= space.price %>
              </p>
          </div>
        </div>
        <div style="text-align: right">
            <form action='view' method='post'>
                <input type="hidden" value='<%=space.id %>' name='space_id'>
                <input class="btn buttons" type="submit" value='view space'>
            </form>
        </div>
    </div>
    <p></p>
    <% end %>
</div>
