<div id="space" style="border-style: double; padding: 5px; border-radius: 5px; background-color: rgba(173,173,173,0.72);">
 <div><h2><%= @space.name %></h2>  <div style="text-align: right">Price per night:  £<%= @space.price %></div></div>
 <div>Description:  <%= @space.description %> </div>
 <div style="margin-top: 10px;">Available dates: <%= @space.start_date %> to <%= @space.end_date %></div>
</div>
<div>
 <form action='/request/new' method="post">
   <input type="hidden" value='<%=@space.id %>' name='space_id' >
   <input type="date" name="request_date" min='<%=@space.start_date%>' max='<%=@space.end_date%>'>
   <input type="submit" name="submit" value="Request Booking">
 </form>
</div>
